<div id="floater" class="home">
    <div class="hero">
        <%= image_tag 'PFP.png', alt: 'Profile Picture', class: 'hero--picture' %>
        <div class='hero--title'>
            <h1 class="hero--text top">Emerson</h1>
            <h1 class="hero--text bottom">Frasure</h1>
        </div>
            
    </div>

    <p class="card text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis nunc ac ante porttitor, nec tempor mauris tincidunt. Curabitur dignissim non quam et feugiat. Nunc hendrerit imperdiet arcu, eu dapibus dolor imperdiet sit amet..</p>

</div>