/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%) translateY(0); /* Start off-screen from the left */
    }
    100% {
        transform: translateX(0) translateY(0); /* End at original position */
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(0); /* Start off-screen from the left */
    }
    100% {
        transform: translateX(0%) translateY(0); /* End at original position */
    }
}

html {
    overflow-x: hidden;
}

body, html {
    scroll-behavior: auto; /* Disable native smooth scrolling */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
}

.hero {
    height: 100vh; /* 100% of the viewport height */
    background-color: #e7e7e7; /* Light grey */
    position: relative;
}


.hero--picture {
    height: 85vh;
    width: auto;
    bottom: 0;
    position: absolute; 
}


#hero--text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400px;
    fill: white;
}

.hero-text-top {
    animation: slideInFromLeft 1s ease-out forwards;
}

.hero-text-bottom {
    animation: slideInFromRight 1s ease-out forwards; /* Delay for bottom text */
}


#hero--text text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400px;
    fill: white;
}

.text {
    font-size: 1.5rem;
    font-weight: 400;
}

.card {
    margin: 150px 300px;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}